/*Selextores*/
/*0.- Directivas @*/
/*1.- Etiquetas*/
/*2.- Identificadores*/
/*3.- Clases*/

@font-face
{
	font-family: 'Coming Soon'; /*Nombre de la fuente*/
	src: url('Fuentes/Coming_Soon/ComingSoon.ttf'); /*Donde esta el archivo?*/
}

body /*Selector -etiqueta*/
{
	/*atributo-:valor;*/
	border: 1px solid blue;
	border-radius: 5px;
	margin: 0px auto;
	max-width: 1024px;
	font-size: 16px; /*tamaño de fuente estandar*/
}

footer
{
	border: 1px solid blue;
	font-size: 0.8em;
	text-align: center;
	margin-top: 15px;
}

header
{
	background: #1AA0E5; /*Fondo*/
	border: 1px solid red;
	color: white; /*Letra*/
	text-align: center; /*Alineacion*/
	 /*tipo fuente de letra*/
	/*padding-bottom: 30px;*/
}

header h1
{
	/*Agregamos la fuente al h1*/
	font-family: 'Roboto', sans-serif;
}

header img
{
	float: right;
	width:150px; /*Ancho de la imagen*/
	margin: -65px 30px 0px 0px
}

header nav ul li 
{
	/*border: 1px solid #57C902;*/
	background: #57C902; /*color de fondo*/
	border-radius: 5px; /*bordes redondeados*/
	font-family: 'Open Sans';
	display: inline-block; /*rompe modelo de caja*/
	margin: 0px 10px 50px 10px; /*separo las cajas*/
	padding: 5px 5px 5px 5px; /*agrando los botones (interno)*/
	width: 80px; /*ancho del boton*/
	box-shadow: 2px 2px;

}

header nav ul li:hover /*mouse por encima*/
{
	background:white;
	color:#0261CD;

}

main section
{
	margin-top: 15px;
}

main section article
{
	/*border: 1px solid red;*/
	display: inline-block;
	vertical-align: top; /*casi por regla para que los bloques estes arriba*/
	width: 23%;
	font-family:'Coming Soon';
}

